body {
  background: #F2F2F2;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin: 0;
  width: 100%;
}

.my-navbar {
  height: 40px;
  padding: 0;
  margin: 15px;
  font-size: 17px;
}

.links {
  color: black;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
}

.links:hover {
  border-bottom: black 3px solid;
  color: black;
}
/*
.bg {
  background-image: url(img0.png);
  height: 100%;
  position: absolute;
}
*/
.my-menu {
  font-size: 17px;
  height: 80px;
  margin-left: 20px;
}

.links-menu {
  color: black;
  margin-left: 20px;
}

.links-menu:hover {
  border-bottom: black 3px solid;
  color: black;  
}

.titulo {
  font-family: 'Optima';
}

.titulo h1 {
  font-size: 80px;
  margin: 0;
}

.titulo h2 {
  font-size: 30px;
}